<section class="connect" fxLayout='column' fxLayoutAlign='start center'>
  <img class="footer-logo" src="assets/imgs/logo-footer.png" alt="">
  <div class="connect-moji" fxLayout='row' fxLayoutAlign='center center'>
    <span>CONNECT WITH US</span>
    <img class="twitter" src="assets/imgs/twitter.png" alt="">
    <img src="assets/imgs/facebook.png" alt="">
    <img src="assets/imgs/youtube.png" alt="">
  </div>
</section>
<section class="company" fxLayout='row' fxLayoutAlign='center center'>
  <span>© 2017 Pool Pros</span>
  <span>Privacy Policy</span>
  <span>Terms and Conditions</span>
</section>
