<div class="compat-bar"></div>
<header fxLayout='row' fxLayoutAlign='center start'>
  <div class="header-container" fxFlex="100%" fxLayout='row' fxLayoutAlign='space-between center'>
    <img class="logo" src="assets/imgs/logo.png" alt="">
    <div class="function" fxLayout='row' fxLayoutAlign='space-between center'>
      <div class="menu" fxLayout='row' fxLayoutGap="58px">
        <span>Pools & Spas</span>
        <span>Supplies</span>
        <span>Resources</span>
        <span>Services</span>
      </div>
      <div class="location" fxLayout='row' fxLayoutAlign='center center'>
        <img src="assets/imgs/location.png" alt="">
        <span>Find a Pool Pro</span>
      </div>
    </div>

  </div>
</header>
<section class="banner">

</section>