:host{
    .compat-bar{
        height: 42px;

        background-color: #083d8c;
        .compat-bar-container{
          width: 100%;
          max-width: 1280px !important;
          font-size: 12px;
          color: white;
          a:nth-child(1){
            padding:0 47px;
          }
         a img{
           padding-left: 8.5px;
         }
        }
    }
    header{
        height: 64px;
        box-shadow: 0 2px 6px 3px rgba(0, 0, 0, .2);
    }
    .header-container{
       max-width: 1270px !important;
       padding:2px;
       .menu{
           color: #083d8c;
           font-family: 'Open Sans';
           font-weight: bold;
           font-size: 15px;
       }
       .location{
           margin-left: 84px;
            width: 174px;
           height: 40px;
           border:1px solid #216ddf;
           border-top: none;
           border-radius: 0 0  5% 5%;
           img{
               position: relative;
               top:-2px;
           }
          span{
              padding-left:12px;
              position: relative;
              font-family: 'Open Sans';
              font-weight: bold;
              font-size: 15px;
              top:-2px;
              color:#216ddf;

          }
       }
    }
    .logo{
        width: 231px;

    }
    .banner{
        height: 131px;
        background-image:url(../../../../assets/imgs/banner.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
    }
}
