<ng-template #toggle_menu class="toggle-menu">
  <div fxLayout='row' fxLayout.lt-md='column' fxHide.lt-md="true" fxLayoutAlign='start center'>
    <div class="radio-btn" fxLayout='row' fxLayoutAlign='center center'>
      <input type="checkbox" name="service" id="_service">
      <div class="check"></div>
      <label for="_service">service</label>

    </div>
    <div class="radio-btn" fxLayout='row' fxLayoutAlign='center center'>
      <input type="checkbox" name="service" id="_Installation">
      <div class="check"></div>
      <label for="_Installation">Installation</label>

    </div>
    <div class="radio-btn" fxLayout='row' fxLayoutAlign='center center'>
      <input type="checkbox" name="service" id="_Resdiential">
      <div class="check"></div>
      <label for="_Resdiential">Resdiential</label>

    </div>
    <div class="radio-btn" fxLayout='row' fxLayoutAlign='center center'>
      <input type="checkbox" name="service" id="_Commercial">
      <div class="check"></div>
      <label for="_Commercial">
        Commercial
      </label>
      <img class="tooltip" src="assets/imgs/tooltip.png" alt="">
    </div>
  </div>
</ng-template>
