:host{

    .container{
        max-width: 700px;
        background-color: #fff;
        margin: 0 30px;
    }
    .title{
        width: 100%;
        background-color: #083d8c;
        position: relative;
        height: 138px;
        padding-left: 30px;
        *{
            color:white;
            margin: 0;
        }
        img{
            position: absolute;
            top: 15px;
            right: 15px;;
        }

    }
    .checked-img{
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
    }
    .last-hint{
      background-color: #f6f6f6;
      padding:20px 23px;
      margin: 20px 0;
      p{
        margin: 0;
        font-size: 12.5px;
      }
  }
    .body{
        padding:0 33px;
        @media screen and (max-width:960px){

          padding: 0 20px;
        }
        p{
          font-size: 15px;
        }
        .hint{
          font-size: 15px;
        }
        form{
            padding: 23px;
            .form-control{
                margin-bottom: 15px;
            }
            background-color: #f6f6f6;
            @media screen and (max-width:960px){
              background-color:white;
              padding: 17px 0;
            }
            label{
                font-family: 'Open Sans';
                font-size: 14px;
                height: 32px;
            }
            input,textarea{
                padding: 15px;
                box-sizing: border-box;
                border: 1px solid #d8d8d8;
                width: 100%;
            }
            .phone{
                max-width: 243px;
            }
            .optional{
                color: #c0bdbd;
            }
            button{
                width: 62px;
                height: 28px;
                border: 1px solid #016b6a;
                border-radius: 3px;
                background-color: white;
                margin-right: 8px;
                outline: none;
                &:hover{
                    cursor: pointer;
                }
            }
            .btn-sel{
                background-color: #01c7c6;
                transition: background-color .2s linear;
            }
            .send{
                padding:15px;
                span{

                    font-size: 17px;
                    font-family: 'Open Sans';
                }
            }
            .mobile-send{
              border-top:1px solid #ececec;
              padding: 20px 10px 5px 5px;
              margin-top: 5px;

              span{
                font-family: 'Open Sans';
                font-size: 15px;
                color:#0bc9c8;
                float: right;
                &:hover{
                  cursor: pointer;
                  color: #216ddf;
                  transition: color 0.2s linear;
                }
              }
            }
        }

    }
    .radio-btn {
        min-width: 62px;
        height: 33px;
        position: relative;
        margin-right: 10px;
        .tooltip{
          background-color: #d8d8d8;
          padding: 9px;
          margin-left:19px;
      }
        input[type=radio]{
            position: absolute;
            visibility: hidden;
          }
          label{
            display: block;
            -webkit-tap-highlight-color: transparent;
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 33px;
            position: relative;
            left: 12px;
            width: 100%;
            box-sizing: border-box;
                padding-left:20px;




            z-index: 9;
            cursor: pointer;
            transition: all 0.25s linear;

          }
          .check{
            position: absolute;
                display: block;

                border: 1px solid #d8d8d8;
                box-sizing: border-box;
                height: 23px;
                width: 23px;

                border-radius: 3px;
                left: 0px;
                z-index: 5;
                transition: border .25s linear;

          }
          input[type=radio]:checked ~ .check {
            border: 8px solid #216ddf;
          }
          input[type=radio]:checked ~ label{
            color: #216ddf;
          }
      }
}
