<div class="container" (click)="$event.stopPropagation()">
    <section class="title" fxLayout="column" fxLayoutAlign="center start">
        <img src="assets/imgs/cancel.png" alt="" (click)="close$.next('close')">
        <p class="sub"> EMAIL</p>
        <h2>Premium Pools & Spas of Charlotte</h2>
      </section>
      <section class="body">
        <div class="hint">
          <p>Fill out the form below and Premium Pools & Spas of Charlotte w</p>
        </div>
        <form>
          <div class="form-control">
            <label for="name" fxLayout="row" fxLayoutAlign="space-between center">
              <span>First and last name</span>
              <span class="checked-img" [style.backgroundImage]="checkedImg"></span>
            </label>
            <input type="text" id="name" value="Jane Smith">
          </div>
          <div class="form-control" class="phone">
            <label for="phone" fxLayout="row" fxLayoutAlign="space-between center">
              <span>Phone number</span>
              <span class="checked-img" [style.backgroundImage]="unCheckedImg"></span>
            </label>
            <input type="text" id="phone">
          </div>
          <div class="form-control">
            <label for="email" fxLayout="row" fxLayoutAlign="space-between center">
              <span>Email address</span>
              <span class="checked-img" [style.backgroundImage]="unCheckedImg"></span>
            </label>
            <input type="text" id="email">
          </div>
          <div class="form-control">
            <label for="comments" fxLayout="row" fxLayoutAlign="space-between center">
              <span>Comments or questions</span>
              <span class="optional">optional</span>
            </label>
            <textarea name="" id="comments" cols="30" rows="10"></textarea>
          </div>
          <div class="form-control">
            <label fxLayout="row" fxLayoutAlign="space-between center">
              <span>Do you currently own a pool or spa?</span>
              <span class="optional" fxHide.lt-md="true">optional</span>
            </label>

            <button fxHide.lt-md="true" type="button">Yes</button>
            <button fxHide.lt-md="true" type="button">No</button>

            <div fxHide fxShow.lt-md="true" fxLayout="row" fxLayoutAlign="start start">
              <div  class="radio-btn" fxLayout='row' fxLayoutAlign='start center'>
                <input type="checkbox" id="yes">
                <div class="check"></div>
                <label  for="yes">Yes</label>

              </div>
              <div   class="radio-btn" fxLayout='row' fxLayoutAlign='start center'>
                <input type="checkbox"  id="no">
                <div class="check"></div>
                <label   for="no">No</label>

              </div>
            </div>
            <div  fxHide.lt-md="true" class="send" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <span>Send my email</span>
              <img src="assets/imgs/arrow-right.png" alt="">
            </div>
            <div class="mobile-send" fxHide fxShow.lt-md="true" >
              <span>Send</span>
            </div>
          </div>

        </form>

      </section>
      <div class="last-hint" fxHide.lt-md="true">
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iure ratione ipsum soluta consectetur,
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iure ratione ipsum soluta consectetur
        </p>
      </div>
</div>
